<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="UserVO">

	<insert id="insert" parameterType="UserVO">
		<![CDATA[
			insert into user(uId, uPw, uName, uBYear, uBMonth, uBDay
			 				, uPhone1, uPhone2, uPhone3, uAddr1, uAddr2
			 				, uAddr3, uEmail, uEmail_domain)
			values (#{uId}, #{uPw}, #{uName}
					, #{uBYear}, #{uBMonth}, #{uBDay}
					, #{uPhone1}, #{uPhone2}, #{uPhone3}
        			,#{uAddr1}, #{uAddr2}, #{uAddr3}
        			, #{uEmail}, #{uEmail_domain} );
		]]>
	</insert>	
	
</mapper>