<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="UserVO">

	<insert id="insert" parameterType="UserVO">
		<![CDATA[
			insert into user(uId, uPw, uName, uBYear, uBMonth, uBDay
			 				, uPhone1, uPhone2, uPhone3, uAddr1, uAddr2
			 				, uAddr3, uEmail, uEmail_domain, uAddr_x, uAddr_y)
			values (#{uId}, #{uPw}, #{uName}
					, #{uBYear}, #{uBMonth}, #{uBDay}
					, #{uPhone1}, #{uPhone2}, #{uPhone3}
        			,#{uAddr1}, #{uAddr2}, #{uAddr3}
        			, #{uEmail}, #{uEmail_domain}
        			, #{uAddr_x}, #{uAddr_y} );
		]]>
	</insert>	

	<select id="uIdCheck" parameterType="String" resultType="int">
		<![CDATA[
			select count(uId) from user where uId = #{uId};
		]]>
	</select>
	
	<select id="login" parameterType="UserVO" resultType="UserVO">
		<![CDATA[
			select * from user where uId = #{uId};
		]]>
	</select>
	
	<update id="update" parameterType="UserVO">
		<![CDATA[
			update user
			set uPhone1 = #{uPhone1}, uPhone2 = #{uPhone2}, uPhone3 = #{uPhone3},
			uAddr1 = #{uAddr1}, uAddr2 = #{uAddr2}, uAddr3 = #{uAddr3},
			uEmail = #{uEmail}, uEmail_domain = #{uEmail_domain},
			uAddr_x = #{uAddr_x}, uAddr_y = #{uAddr_y}
			where uId = #{uId};
		]]>
	</update>
	
	<update id="pwUpdate" parameterType="UserVO">
		<![CDATA[
			update user set uPw = #{uPw}
			where uId = #{uId};
			]]>
	</update>
	
</mapper>