<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.nmez.bigdata.vo.UserVO" alias="UserVO"/>
		<typeAlias type="com.nmez.bigdata.vo.DataVO" alias="DataVO"/>
		<typeAlias type="com.nmez.bigdata.vo.T_dataVO" alias="T_dataVO"/>
		<typeAlias type="com.nmez.bigdata.vo.S_dataVO" alias="S_dataVO"/>
		<typeAlias type="com.nmez.bigdata.vo.P_dataVO" alias="P_dataVO"/>
		<typeAlias type="com.nmez.bigdata.vo.IageVO" alias="IageVO"/>
		<typeAlias type="com.nmez.bigdata.vo.IdayVO" alias="IdayVO"/>
		<typeAlias type="com.nmez.bigdata.vo.IsexVO" alias="IsexVO"/>
		<typeAlias type="com.nmez.bigdata.vo.ItimeVO" alias="ItimeVO"/>
		
	</typeAliases>
  
  <mappers>
		<mapper resource="/sqlmap/mapper/UserVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/DataVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/T_dataVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/S_dataVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/P_dataVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/IageVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/IdayVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/IsexVO_mapper.xml" />
		<mapper resource="/sqlmap/mapper/ItimeVO_mapper.xml" />
		
  </mappers>
</configuration>