body{
	margin-top: 100px;
	margin-bottom:100px;
	font-family: 'Nanum Gothic', sans-serif;
	
	
}
#signUp_main{
	height: auto;
	min-height: 100%
}
main{
	min-height: 100%;
}
a {
	text-decoration: none;
	color: white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #263343;
	padding: 8px 12px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	
}

.navbar_logo {
	font-size: 24px;
	color: white;
}

.navbar_logo i {
	color: #d49466;
}

.navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar_menu li {
	padding: 8px 12px;
}

.navbar_icons {
	list-style: none;
	color: white;
	display: flex;
	padding-left: 0;
}

.navbar_icons li {
	padding: 8px 12px;
}

.navbar_menu li:hover {
	background-color: #d49466;
	border-radius: 4px;
}

.navbar_toogleBtn {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: #d49466;
}

@media screen and (max-width:768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
		z-index: 100;
	}
	.navbar_menu {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.navbar_menu li {
		width: 100%;
		text-align: center;
	}
	.navbar_icons {
		display: none;
		justify-content: center;
		width: 100%;
	}
	.navbar_toogleBtn {
		display: block;
	}
}

footer {
	display: flex;
	position: relative;
	justify-content: center;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:  #263343;
}

footer img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 15px;
	
}

.foo_div1 {
	width:100%;
    height: auto;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	
	
}

.foo_div1 span {
	font-size: 15px;
	color: white;
}

.foo_div1 img {
	width: 20px;
	height: 20px;
}

.foo_div1 i {
	color: #d49466;
	width: 30px;
	height: 30px;
	margin-bottom: 12px;
}