body{
	margin-top: 100px;
	margin-bottom:100px;
	font-family: 'Nanum Gothic', sans-serif;
	background: #f5f6f7;
	
}
html{
	height: 100%;
}
#signUp_main{
	height: auto;
	min-height: 100%;
}
.wrap_main{
	height: auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
main{
	min-height: 100%;
}
a {
	text-decoration: none;
	color: white;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #263343;
	padding: 8px 12px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	z-index: 100;
}
.navbar_logo {
	font-size: 24px;
	color: white;
}
.navbar_logo i {
	color: #d49466;
}
.navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}
.navbar_menu li {
	padding: 8px 12px;
}
.navbar_icons {
	list-style: none;
	color: white;
	display: flex;
	justify-content: flex-end;
}
.navbar_icons li {
	padding: 8px 12px;
}
.navbar_menu li:hover {
	background-color: #d49466;
	border-radius: 4px;
}
.navbar_toogleBtn {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: #d49466;
}
.navbar_menu.active,
.navbar_icons.active{
		display: flex;
	}
@media screen and (max-width:768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
		z-index: 100;
	}
	.navbar_menu {
		display:none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.navbar_menu li {
		width: 100%;
		text-align: center;
	}
	.navbar_icons {
		display:none;
		list-style: none;
		color: white;
		justify-content:center;
		width:100%;
	}
	.navbar_toogleBtn {
		display: block;
	}
	.navbar_menu.active,
	.navbar_icons.active{
		display: flex;
	}
}
footer {
	display: flex;
	position: relative;
	justify-content: center;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f5f6f7;
	
}
footer span{
	color: #d49466;
}
footer img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 15px;
	
}
.foo_div1 {
	width:100%;
    height: auto;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.foo_div1 span {
	font-size: 15px;
	color: black;
}
.foo_div1 img {
	width: 20px;
	height: 20px;
}
.foo_div1 i {
	color: #d49466;
	width: 30px;
	height: 30px;
	margin-bottom: 12px;
}
#wrap{
	display: flex;
	justify-content: center;
}
.permit{
	display: flex;
	flex-direction:column;
	justify-content: center;
}
.checkbox_div {
	display: flex;
	width:auto;
	justify-content: center;
}
.permit_box  textarea{
	width:50%;
	display : flex;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}
.userForm {
	width:50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;

}
.userInput {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;	
	padding-bottom: 10px;
	padding-top: 10px;
	height: auto;
}
button, dd, dl, dt, fieldset, form, h1, h2, h3, h3, h5, h6, input,
   legend, li, ol, p, select, option, label, textarea, ul {
   margin: 0;
   padding: 0;
}
.uPhone_div, .uBirthday,.uMail{
	display: flex;
	align-content: flex-start;
	padding-bottom: 10px;
}
.box{
	display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}
.int_mail {
    display: block;
    position: relative;
    width: 70%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}
#bir_mm, #bir_dd, #bir_yy {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}
#domain-list,#uPhone1 {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff; 
} 
.uBirthday select {
	width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff;
}
.int_id{
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	
}
.submit_button{
	width: 100%;
	height: 40px;
}
#mypage{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: nowrap;
}
.modal{ 
  position:absolute; width:100%; height:100%; background: rgba(0,0,0,0.8); top:0; left:0; display:none; z-index: 1000;
}

.modal_content{
  width:400px; height:300px;
  background:#fff; border-radius:10px;
  position:relative; top:40%; left:50%;
  margin-top:-100px; margin-left:-200px;
  text-align:center;
  box-sizing:border-box;
  line-height:23px; cursor:pointer;
  z-index: 1000;
  border: 1px solid white;
}
.login_form form{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0px auto;
}
.login_input{
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;	
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
.modal_close{
	position:absolute;
	justify-content: flex-end;
	padding: 1px 375px;
	color: white;
}
.login_msg{
    border-radius: 10px;
    color: white;
    background-color: #263343;
    height: 40px;
    justify-content: center;
    text-align: center;
    padding-top: 13px;
}
.login_button{
	height:40px;
	width: 100%;
}
th, tr ,td{
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}
input:read-only, textarea:read-only {
  background-color: #DDDDDD;
}
th, tr, td {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.modal_content_pw{
  width:400px; height:auto;
  background:#fff; border-radius:10px;
  position:relative; top:40%; left:50%;
  margin-top:-100px; margin-left:-200px;
  text-align:center;
  box-sizing:border-box;
  line-height:23px; cursor:pointer;
  z-index: 1000;
  border: 1px solid white;
}